.divider {
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
}

.arrow-wrapper {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  top: -1px;
  left: 6px;
  .arrow {
    display: inline-block;
    transition: transform 0.1s ease;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #2c3e50;
    &.rotated {
      transform: rotate(90deg);
    }
  }
}

div {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #eee;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #ccc; 
  }
}

.button {
  box-sizing: border-box;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #42B983;
  border: none;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: #42B983AA;
  }
}
 